DataToken/build
DataToken/node_modules 
DataToken/package-lock.json
DataToken/.openzeppelin
DatumNetworkPay/build
DatumNetworkPay/node_modules 
DatumNetworkPay/package-lock.json
DatumNetworkPay/.openzeppelin
DID/build
DID/node_modules 
DID/package-lock.json
DID/.openzeppelin
